*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width:603px;
  height: 603px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
div{
  height:150px;
  width:150px;
  background-color: red;
  border: 1px solid white;
}
